# **SpaceX  Falcon 9 First Stage Landing Prediction**

## Notebook: EDA with SQL

## Introduction

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.





#### Click on the link below if you want to directly download the dataset.

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
# !pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
# %load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cursor = con.cursor()

In [4]:
# !pip install -q pandas==1.1.5

In [5]:
# %sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("Spacex.csv")
df.to_sql("spacex", con, if_exists='replace', index=False,method="multi")

999

In [7]:
data = cursor.execute("SELECT * FROM spacex").fetchall()
column_names = [description[0] for description in cursor.description]  # Get the column names from the cursor

df = pd.DataFrame(data, columns=column_names)
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
994,None,None,None,None,None,NaN,None,None,None,None
995,None,None,None,None,None,NaN,None,None,None,None
996,None,None,None,None,None,NaN,None,None,None,None
997,None,None,None,None,None,NaN,None,None,None,None
998,None,None,None,None,None,NaN,None,None,None,None

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
# unique_names

data = cursor.execute("select distinct(Launch_Site) from spacex where Launch_Site!='None'").fetchall()
column_names = ['Launch_Site']
unique_names = pd.DataFrame(data, columns= column_names)
unique_names

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [9]:
# unique_names
data = cursor.execute("select * from spacex where Launch_Site like 'CCA%' limit 5").fetchall()
column_names = [i[0] for i in cursor.description]
unique_names = pd.DataFrame(data, columns= column_names)
unique_names

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
data = cursor.execute("select sum(PAYLOAD_MASS__KG_) from spacex where Payload like '%CRS%'").fetchall()
column_names = ['Total payload']
total_payload = pd.DataFrame(data,columns=column_names)
total_payload

   Total payload
0       111268.0

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [11]:
data = cursor.execute("select avg(PAYLOAD_MASS__KG_) from spacex where Booster_Version	= 'F9 v1.1'").fetchall()
column_names = ['Total payload']
avg_payload = pd.DataFrame(data,columns=column_names)
avg_payload

   Total payload
0         2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [12]:
data = cursor.execute("SELECT MIN(DATE) as 'Date' FROM spacex WHERE Landing_Outcome = 'Success (ground pad)'").fetchall()
column_names = [i[0] for i in cursor.description]
first_landing = pd.DataFrame(data,columns=column_names)
first_landing

         Date
0  01/08/2018

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [13]:
data = cursor.execute("SELECT Booster_Version FROM spacex WHERE Landing_Outcome = 'Success (drone ship)' and PAYLOAD_MASS__KG_ between 4000 and 6000").fetchall()
column_names = ['Booster Version']
first_landing = pd.DataFrame(data,columns=column_names)
first_landing

  Booster Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [14]:
data = cursor.execute("SELECT Mission_Outcome, COUNT(*) AS QTY FROM spacex GROUP BY Mission_Outcome ORDER BY Mission_Outcome").fetchall()
column_names = ['Booster Version', 'Quantity']
first_landing = pd.DataFrame(data,columns=column_names)
first_landing

                    Booster Version  Quantity
0                              None       898
1               Failure (in flight)         1
2                           Success        98
3                          Success          1
4  Success (payload status unclear)         1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [15]:
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
994,None,None,None,None,None,NaN,None,None,None,None
995,None,None,None,None,None,NaN,None,None,None,None
996,None,None,None,None,None,NaN,None,None,None,None
997,None,None,None,None,None,NaN,None,None,None,None
998,None,None,None,None,None,NaN,None,None,None,None

In [16]:
data = cursor.execute("SELECT DISTINCT Booster_Version FROM spacex WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM spacex) ORDER BY Booster_Version").fetchall()
column_names = ['Booster Version']
first_landing = pd.DataFrame(data,columns=column_names)
first_landing

   Booster Version
0    F9 B5 B1048.4
1    F9 B5 B1048.5
2    F9 B5 B1049.4
3    F9 B5 B1049.5
4   F9 B5 B1049.7
5    F9 B5 B1051.3
6    F9 B5 B1051.4
7    F9 B5 B1051.6
8    F9 B5 B1056.4
9   F9 B5 B1058.3
10  F9 B5 B1060.2
11   F9 B5 B1060.3

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [17]:
data = cursor.execute("SELECT DISTINCT Booster_Version FROM spacex WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM spacex) ORDER BY Booster_Version").fetchall()
column_names = ['Booster Version']
first_landing = pd.DataFrame(data,columns=column_names)
first_landing

   Booster Version
0    F9 B5 B1048.4
1    F9 B5 B1048.5
2    F9 B5 B1049.4
3    F9 B5 B1049.5
4   F9 B5 B1049.7
5    F9 B5 B1051.3
6    F9 B5 B1051.4
7    F9 B5 B1051.6
8    F9 B5 B1056.4
9   F9 B5 B1058.3
10  F9 B5 B1060.2
11   F9 B5 B1060.3

In [18]:
data = cursor.execute('''SELECT
    substr(Date, 4, 2),
    Landing_Outcome,
    Booster_Version,
    Launch_Site
FROM
    spacex
WHERE
    Landing_Outcome = 'Failure (drone ship)'
    AND substr(Date, 7, 4) = '2015';
''').fetchall()
column_names = ['Month','Landing outcome','Booster version','Launch Site']
first_landing = pd.DataFrame(data,columns=column_names)
first_landing

  Month       Landing outcome Booster version  Launch Site
0    10  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1    04  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [19]:
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
994,None,None,None,None,None,NaN,None,None,None,None
995,None,None,None,None,None,NaN,None,None,None,None
996,None,None,None,None,None,NaN,None,None,None,None
997,None,None,None,None,None,NaN,None,None,None,None
998,None,None,None,None,None,NaN,None,None,None,None

In [20]:
df.Landing_Outcome.value_counts()

Success                   38
No attempt                21
Success (drone ship)      14
Success (ground pad)       9
Controlled (ocean)         5
Failure (drone ship)       5
Failure                    3
Failure (parachute)        2
Uncontrolled (ocean)       2
Precluded (drone ship)     1
No attempt                 1
Name: Landing_Outcome, dtype: int64

In [21]:
data = cursor.execute('''
SELECT 
    Landing_Outcome,
    COUNT(*) AS Success_Count
FROM
    spacex
WHERE
    DATE(SUBSTR(Date, 7, 4) || '-' || SUBSTR(Date, 4, 2) || '-' || SUBSTR(Date, 1, 2)) BETWEEN '2010-06-04' AND '2017-03-20'
    AND Landing_Outcome LIKE '%Success%'
GROUP BY
    Landing_Outcome
ORDER BY
    Success_Count DESC;

''').fetchall()
column_names = ['Landing Outcome','Quantity']
first_landing = pd.DataFrame(data,columns=column_names)
first_landing

        Landing Outcome  Quantity
0  Success (ground pad)         5
1  Success (drone ship)         5

In [22]:
df.head(45)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt
5,29/09/2013,16:00:00,F9 v1.1 B1003,VAFB SLC-4E,CASSIOPE,500.0,Polar LEO,MDA,Success,Uncontrolled (ocean)
6,12/03/2013,22:41:00,F9 v1.1,CCAFS LC-40,SES-8,3170.0,GTO,SES,Success,No attempt
7,01/06/2014,22:06:00,F9 v1.1,CCAFS LC-40,Thaicom 6,3325.0,GTO,Thaicom,Success,No attempt
8,18/04/2014,19:25:00,F9 v1.1,CCAFS LC-40,SpaceX CRS-3,2296.0,LEO (ISS),NASA (CRS),Success,Controlled (ocean)
9,14/07/2014,15:15:00,F9 v1.1,CCAFS LC-40,OG2 Mission 1 6 Orbcomm-OG2 satellites,1316.0,LEO,Orbcomm,Success,Controlled (ocean)
10,08/05/2014,8:00:00,F9 v1.1,CCAFS LC-40,AsiaSat 8,4535.0,GTO,AsiaSat,Success,No attempt
11,09/07/2014,5:00:00,F9 v1.1 B1011,CCAFS LC-40,AsiaSat 6,4428.0,GTO,AsiaSat,Success,No attempt
12,21/09/2014,5:52:00,F9 v1.1 B1010,CCAFS LC-40,SpaceX CRS-4,2216.0,LEO (ISS),NASA (CRS),Success,Uncontrolled (ocean)
13,01/10/2015,9:47:00,F9 v1.1 B1012,CCAFS LC-40,SpaceX CRS-5,2395.0,LEO (ISS),NASA (CRS),Success,Failure (drone ship)
14,02/11/2015,23:03:00,F9 v1.1 B1013,CCAFS LC-40,DSCOVR,570.0,HEO,U.S. Air Force NASA NOAA,Success,Controlled (ocean)
15,03/02/2015,3:50:00,F9 v1.1 B1014,CCAFS LC-40,ABS-3A Eutelsat 115 West B,4159.0,GTO,ABS Eutelsat,Success,No attempt
16,14/04/2015,20:10:00,F9 v1.1 B1015,CCAFS LC-40,SpaceX CRS-6,1898.0,LEO (ISS),NASA (CRS),Success,Failure (drone ship)
17,27/04/2015,23:03:00,F9 v1.1 B1016,CCAFS LC-40,Turkmen 52 / MonacoSAT,4707.0,GTO,Turkmenistan National Space Agency,Success,No attempt
18,28/06/2015,14:21:00,F9 v1.1 B1018,CCAFS LC-40,SpaceX CRS-7,1952.0,LEO (ISS),NASA (CRS),Failure (in flight),Precluded (drone ship)
19,22/12/2015,1:29:00,F9 FT B1019,CCAFS LC-40,OG2 Mission 2 11 Orbcomm-OG2 satellites,2034.0,LEO,Orbcomm,Success,Success (ground pad)
20,17/01/2016,18:42:00,F9 v1.1 B1017,VAFB SLC-4E,Jason-3,553.0,LEO,NASA (LSP) NOAA CNES,Success,Failure (drone ship)
21,03/04/2016,23:35:00,F9 FT B1020,CCAFS LC-40,SES-9,5271.0,GTO,SES,Success,Failure (drone ship)
22,04/08/2016,20:43:00,F9 FT B1021.1,CCAFS LC-40,SpaceX CRS-8,3136.0,LEO (ISS),NASA (CRS),Success,Success (drone ship)
23,05/06/2016,5:21:00,F9 FT B1022,CCAFS LC-40,JCSAT-14,4696.0,GTO,SKY Perfect JSAT Group,Success,Success (drone ship)
24,27/05/2016,21:39:00,F9 FT B1023.1,CCAFS LC-40,Thaicom 8,3100.0,GTO,Thaicom,Success,Success (drone ship)
25,15/06/2016,14:29:00,F9 FT B1024,CCAFS LC-40,ABS-2A Eutelsat 117 West B,3600.0,GTO,ABS Eutelsat,Success,Failure (drone ship)
26,18/07/2016,4:45:00,F9 FT B1025.1,CCAFS LC-40,SpaceX CRS-9,2257.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)
27,14/08/2016,5:26:00,F9 FT B1026,CCAFS LC-40,JCSAT-16,4600.0,GTO,SKY Perfect JSAT Group,Success,Success (drone ship)
28,14/01/2017,17:54:00,F9 FT B1029.1,VAFB SLC-4E,Iridium NEXT 1,9600.0,Polar LEO,Iridium Communications,Success,Success (drone ship)
29,19/02/2017,14:39:00,F9 FT B1031.1,KSC LC-39A,SpaceX CRS-10,2490.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)
30,16/03/2017,6:00:00,F9 FT B1030,KSC LC-39A,EchoStar 23,5600.0,GTO,EchoStar,Success,No attempt
31,30/03/2017,22:27:00,F9 FT B1021.2,KSC LC-39A,SES-10,5300.0,GTO,SES,Success,Success (drone ship)
32,05/01/2017,11:15:00,F9 FT B1032.1,KSC LC-39A,NROL-76,5300.0,LEO,NRO,Success,Success (ground pad)
33,15/05/2017,23:21:00,F9 FT B1034,KSC LC-39A,Inmarsat-5 F4,6070.0,GTO,Inmarsat,Success,No attempt
34,06/03/2017,21:07:00,F9 FT B1035.1,KSC LC-39A,SpaceX CRS-11,2708.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)
35,23/06/2017,19:10:00,F9 FT B1029.2,KSC LC-39A,BulgariaSat-1,3669.0,GTO,Bulsatcom,Success,Success (drone ship)
36,25/06/2017,20:25:00,F9 FT B1036.1,VAFB SLC-4E,Iridium NEXT 2,9600.0,LEO,Iridium Communications,Success,Success (drone ship)
37,07/05/2017,23:38:00,F9 FT B1037,KSC LC-39A,Intelsat 35e,6761.0,GTO,Intelsat,Success,No attempt
38,14/08/2017,16:31:00,F9 B4 B1039.1,KSC LC-39A,SpaceX CRS-12,3310.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)
39,24/08/2017,18:51:00,F9 FT B1038.1,VAFB SLC-4E,Formosat-5,475.0,SSO,NSPO,Success,Success (drone ship)
40,09/07/2017,14:00:00,F9 B4 B1040.1,KSC LC-39A,Boeing X-37B OTV-5,4990.0,LEO,U.S. Air Force,Success,Success (ground pad)
41,10/09/2017,12:37:00,F9 B4 B1041.1,VAFB SLC-4E,Iridium NEXT 3,9600.0,Polar LEO,Iridium Communications,Success,Success (drone ship)
42,10/11/2017,22:53:00,F9 FT B1031.2,KSC LC-39A,SES-11 / EchoStar 105,5200.0,GTO,SES EchoStar,Success,Success (drone ship)
43,30/10/2017,19:34:00,F9 B4 B1042.1,KSC LC-39A,Koreasat 5A,3500.0,GTO,KT Corporation,Success,Success (drone ship)
44,15/12/2017,15:36:00,F9 FT B1035.2,CCAFS SLC-40,SpaceX CRS-13,2205.0,LEO (ISS),NASA (CRS),Success,Success (ground pad)

## Created by Hrishikesh Reddy Papasani 
### Github link: https://github.com/Hrishikesh-Papasani
### Gmail: hrpapasani@gmail.com